body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

header img{
    width: 165px;
}

#menu_header{
    display: flex;
    justify-content: center;
    padding: 20px 107px 15px 107px;
}

header .back_menu{
    display: block;
    position: absolute;
    left: 10px;
}

#img_cover img{
    margin: 0 auto;
    width: 100%;
    height: 290px;
    object-fit: cover;
}

.main_card{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background: #f6f6f6;
    position: relative;
    z-index: 1;
    padding-bottom: 55px;
    /* width: 100%; */
    height: 100%;
}

#top_menu{
    margin-top: -50px;
    /* display: flex;
    align-items: center; */
}

h1{
    font-family: "Shrikhand", cursive;
    font-size: 1.7rem;
    font-weight: normal;
    padding: 30px 35px 0px 20px;
}

#like{
    position: absolute;
    right: 30px;
    top: 36px;
}

#like i{
    color: #9d9d9d;
    font-size: 24px;
    position: absolute;
    left: 50%;
  }
  
  #like .hover-icon{
    left: 50%;
    opacity: 0;
    position: absolute;
  }
  
  #like:hover .default-icon{
    opacity: 0;
    transition: .5s 0s ease;
  }
  
  #like:hover .hover-icon{
    color: #9356dc;
    opacity: 1;
    transition: .5s 0s ease;
    z-index: 999;
  }

h2{
    margin: 25px 25px;
    font-size: 18px;
    text-transform: uppercase;
    border-bottom: 2px solid #99e2d0;
    width: 40px;
    padding-top: 20px;
    
}

h3{
    
    font-size: 15px;
}

h4{
    
    margin: -10px 0px;
    font-size: 0.85rem;
    
}

.menu_card_entrees{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 20px;
    border-radius: 20px;
    background: #fff;
    height: 75px;
    box-shadow: 0 5px 15px 0 #c3c3c3;
    cursor: pointer;
    overflow: hidden;
    
}

.prix_card_entrees{
    transition: transform 400ms ease-in-out;
    transform: translateX(3.5em);
    /* display: flex;
    justify-content: flex-end;
    align-items: center; */
    position: relative;
    right: 100px;
    padding-bottom: 1em;
    font-weight: bold;
    
}
/* .menu_card_entrees:hover .prix_card_entrees{
    transform: translateX(0);
} */

.texte_entrees{
    padding: 0px 10px;
}

/* .select_card{
    display: flex;
    align-items: center;
    justify-content: flex-end;
} */

.menu_card_entrees .select_card {
	width: 60px;
	background-color: #8FDEC9;
	border-radius: 0 15px 15px 0;
	transform: translateX(70px);
	transition: all ease 0.4s;
}

.menu_card_entrees:hover .select_card {
	transform: translateX(0);
}

.menu_card_entrees .select_card i {
	display: block;
	width: 20px;
	height: 20px;
	line-height: 20px;
	margin: 0 auto;
	padding: 5px;
	text-align: center;
	position: relative;
	top: calc(50% - 10px);
	color: white;
    font-size: 24px;
	border-radius: 50%;
	transition: all ease 0.6s;
}

.menu_card_entrees:hover .select_card i {
	transform: rotate(360deg);
}


.menu_card_plats{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 20px;
    border-radius: 20px;
    /* padding: 0px 10px; */
    /* padding-bottom: 20px; */
    background: #fff;
    /* width: 80%; */
    height: 75px;
    box-shadow: 0 5px 15px 0 #c3c3c3;
    cursor: pointer;
    overflow: hidden;
}

.prix_card_plats{
    transition: transform 400ms ease-in-out;
    transform: translateX(3.5em);
    /* display: flex;
    justify-content: flex-end;
    align-items: center; */
    position: relative;
    right: 100px;
    padding-bottom: 1em;
    font-weight: bold;
    
}

/* .menu_card_plats:hover .prix_card_plats{
    transform: translateX(0);
} */

.texte_plats{
    padding: 0px 10px;
}
.menu_card_plats .select_card {
        width: 60px;
        background-color: #8FDEC9;
        border-radius: 0 15px 15px 0;
        transform: translateX(70px); 
        transition: all ease 0.4s;
    }
    
    .menu_card_plats:hover .select_card {
        transform: translateX(0);
    }
    
    .menu_card_plats .select_card i {
        display: block;
        width: 20px;
        height: 20px;
        line-height: 20px;
        margin: 0 auto;
        padding: 5px;
        text-align: center;
        position: relative;
        top: calc(50% - 10px);
        color: white;
        font-size: 24px;
        border-radius: 50%;
        transition: all ease 0.6s;
    }
    
    .menu_card_plats:hover .select_card i {
        transform: rotate(360deg);
    }


    /* margin: 10px 40px;
    border-radius: 20px;
    padding: 0px 10px;
    padding-bottom: 20px;
    background: #fff;
    width: 80%;
    height: 75px;
    box-shadow: 0 5px 15px 0 #c3c3c3; */


    .menu_card_desserts{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 10px 20px;
        border-radius: 20px;
        /* padding: 0px 10px; */
        /* padding-bottom: 20px; */
        background: #fff;
        /* width: 80%; */
        height: 75px;
        box-shadow: 0 5px 15px 0 #c3c3c3;
        cursor: pointer;
        overflow: hidden;
    }

    .prix_card_desserts{
    transition: transform 400ms ease-in-out;
    transform: translateX(3.5em);
    /* display: flex;
    justify-content: flex-end;
    align-items: center; */
    position: relative;
    right: 100px;
    padding-bottom: 1em;
    font-weight: bold;
        
    }
    /* .menu_card_desserts:hover .prix_card_desserts{
        transform: translateX(0);
    } */
    
    .texte_desserts{
        padding: 0px 10px;
    }

    .menu_card_desserts .select_card {
            width: 60px;
            background-color: #8FDEC9;
            border-radius: 0 15px 15px 0;
            transform: translateX(70px);
            transition: all ease 0.4s;
        }
        
        .menu_card_desserts:hover .select_card {
            transform: translateX(0);
        }
        
        .menu_card_desserts .select_card i {
            display: block;
            width: 20px;
            height: 20px;
            line-height: 20px;
            margin: 0 auto;
            padding: 5px;
            text-align: center;         
            position: relative;
            top: calc(50% - 10px);         
            color: white;
            font-size: 24px;
            border-radius: 50%;
            transition: all ease 0.6s;
        }
        
        .menu_card_desserts:hover .select_card i {
            transform: rotate(360deg);
        }

#button_main_card .button{
    display: flex;
    justify-content: center;
    background: linear-gradient(to top, #9356dc, #ff79da);
    border-radius: 20px;
    padding: 15px;
    width: 200px;
    margin: 0 auto;
    margin-top: 50px;
    /* margin-bottom: 50px; */
    color: #fff;
    text-decoration: none;
    /* letter-spacing: 0.03rem; */
    box-shadow: 2px 4px 7px 0px #c0bfbf;
}

footer{
    display: flex;
    flex-direction: column;
    
    /* width: 100%; */
    background: #353535;
    /* color: white; */
    padding: 15px;
    /* height: auto; */
}

#logo_footer img{
    filter: invert(1);
    padding-left: 30px;
    /* color: white; */
    width: 150px;
}

ul li{
    list-style: none;
    /* font-family: 'Roboto', sans-serif; */
    /* margin-bottom: auto; */
    padding: 5px 0px 10px 0px
    
}


footer a{
    /* font-family: 'Roboto', sans-serif; */
    text-decoration: none;
    color: #fff;
}

.menu_card_entrees {
    opacity: 0;
    animation: items 2000ms ease-in-out forwards;
  }
  .menu_card_entrees:nth-child(1) {
    animation-delay: 100ms;
  }
  .menu_card_entrees:nth-child(2) {
    animation-delay: 300ms;
  }
  .menu_card_entrees:nth-child(3) {
    animation-delay: 500ms;
  }
  .menu_card_entrees:nth-child(4) {
    animation-delay: 1000ms;
  }

  .menu_card_plats {
    opacity: 0;
    animation: items 2000ms ease-in-out forwards;
  }
  .menu_card_plats:nth-child(1) {
    animation-delay: 100ms;
  }
  .menu_card_plats:nth-child(2) {
    animation-delay: 300ms;
  }
  .menu_card_plats:nth-child(3) {
    animation-delay: 500ms;
  }
  .menu_card_plats:nth-child(4) {
    animation-delay: 1000ms;
  }

  .menu_card_desserts {
    opacity: 0;
    animation: items 2000ms ease-in-out forwards;
  }
  .menu_card_desserts:nth-child(1) {
    animation-delay: 100ms;
  }
  .menu_card_desserts:nth-child(2) {
    animation-delay: 300ms;
  }
  .menu_card_desserts:nth-child(3) {
    animation-delay: 500ms;
  }
  .menu_card_desserts:nth-child(4) {
    animation-delay: 1000ms;
  }

  @keyframes items {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

@media only screen and (min-width: 768px) and (max-width:2560px ){
    .big_menu{
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: space-between;
    }

    #menu_entrees{
        width: 100%;
        padding: 15px 0 15px 15px;
    }

    #menu_plats{
        width: 100%;
        padding: 15px 0 15px 15px;
    }

    #menu_desserts{
        width: 100%;
        padding: 15px 0 15px 15px;
    }

    .menu_card_entrees{
        flex: 30%;
        /* height: 95px; */
        
    }

    .menu_card_plats{
        flex: 30%;
        /* height: 90px; */
    }

    .menu_card_desserts{
        flex: 30%;
        /* height: 90px; */
    }

}
